<%- include('header') -%>
    <div class="container">
      <main class="">
        <h1 class="text-center">The Weather App</h1>
        <div class="mb-3">
          <form action="/" method="post">
            <label for="cityInput" class="form-label"><b>City Name: </b></label>
            <input type="text" name="cityName" id="cityInput" class="form-control" required><br>
            <br>
            <label for="unitsInput" class="form-label"><b>Unit of measurement: </b></label>
            <div>
              <input type="radio" name="unitsInput" value="imperial" class="form-check-input" checked>
              <label class="form-check-label" for="imperial">Imperial (degrees Farenheit)</label>
            </div>
            <div>
              <input type="radio" name="unitsInput" value="metric" class="form-check-input">
              <label class="form-check-label" for="metric">Metric (degrees Celsius)</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </main>
    </div>
    <%- include('footer') -%>