html, body {
  height: auto;
  font-family: ;
  background-color: #B97A95;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
  color: #3d3a55;
}

.container {
  background-image: -webkit-linear-gradient(20deg, rgba(255,255,255,0.3) 30%, rgba(255,255,255, 0.4) 60%);
  padding: 30px;
  border-radius: 2px;
  margin: 30px;
}


@include media-breakpoint-up(sm) { 

}
@include media-breakpoint-up(md) { 

}
@include media-breakpoint-up(lg) { 

}
@include media-breakpoint-up(xl) { 

}
@include media-breakpoint-up(xxl) { 

}